.container_centered {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  position: relative;
}

.block_fixed__top-right {
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 0 !important;
}

.currency-input {
  width: 400px;
}

.currency-input__message_below {
  color: grey;
  position: absolute;
  bottom: -17px;
  left: 5px;
}
